/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#imageCaption {
    margin: 15px auto;
    text-align: center;
    color: #ccc;
    font-size: 16px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}

/* Image Thumbnails */
.review-img {
    width: 35px;
    height: 35px;
    /* margin: 5px; */
    cursor: pointer;
    /* border-radius: 5px; */
    object-fit: cover;
}


.video-icon {
    width: 16px; /* Adjust the size of the icon */
    height: 16px; /* Ensure proportional scaling */
    margin-left: 2px; /* Space between text and icon */
    vertical-align: middle; /* Align the icon with the text */
}

/* General modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: white;
    /* padding: 20px; */
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

iframe {
    border: none;
    max-width: 100%;
    max-height: 100%;
}



