{% extends "web/home/base.html" %}
{% load static %}
{% block content %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

    body {
        font-family: "Poppins", sans-serif !important;
    }
</style>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>

<body>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

        body {
            font-family: "Poppins", sans-serif !important;
        }
    </style>

    <h4 class="py-5"></h4>


    <div class="container my-5">
        <div class="row">
            <div class="col-md-6  order-2 order-sm-1">
                <h1 class=" mb-4" style="font-weight: 200;">ONLINE TICKET <span style="color: #9B5DE5;">BOOKING</span>
                </h1>
                <p class="text-secondary" style="line-height: 2;font-size: 14px;">Samatwa Service Centers (SSCs) are
                    part of the Digital India initiative and provide various online booking services for citizens. These
                    centers help people book tickets for travel, government services, and other appointments without
                    needing a personal internet connection or digital literacy.


                    Types of ssc Online Booking Services <br>


                    1. Travel & Transport Services <br>
                    2. Bus Ticket Booking <br>
                    3. Flight Ticket Booking <br>
                    4. Taxi & Car Rental Services <br>
                    5. Entertainment & Event Booking <br>
                    6. Exam & Education Booking <br>
                    7. Government & UtilityServices <br>
                    8. Railway
                </p>

            </div>
            <div class="col-md-6 p-0 text-center order-1 order-sm-2">
                <img src="/static/web/file/images/about-5.jpg" auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100"
                    alt="">
            </div>

            <div class="col-md-6 p-0 text-center">
                <img src="/static/web/file/images/about-3.jpg" auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100"
                    alt="">
            </div>
            <div class="col-md-6  ">
                <h1 class="h2 mb-4" style="font-weight: 200; ">SSC <span style="color: #9B5DE5;">ACADEMY</span></h1>
                <p class="text-secondary" style="line-height: 2; font-size: 14px;">SSC Academy is an initiative of the
                    Common Services Centers (SSC) program under the Government of India. It provides digital literacy,
                    skill development, and professional training programs to empower citizens, especially in rural and
                    semi-urban areas. The academy offers courses in IT, entrepreneurship, financial literacy,
                    cybersecurity, and various vocational skills, helping individuals improve their employability and
                    business opportunities.

                    Through online and offline learning, SSC Academy aims to bridge the digital divide and promote
                    inclusive education. It collaborates with government agencies, private organizations, and
                    educational institutions to deliver high-qualitytraining.</p>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6  order-2 order-sm-1">
                <h1 class=" mb-4" style="font-weight: 200;">SSC <span style="color: #9B5DE5;">TOURISM</span></h1>
                <p class="text-secondary" style="line-height: 2; font-size: 14px; ">SSC Tourism is a service under the
                    SAMATWA SERVICE CENTRE (SSC) initiative, aimed at promoting travel and tourism across India. It
                    enables citizens, especially in rural and semi-urban areas, to access affordable travelservices,</p>

            </div>
            <div class="col-md-6 p-0 text-center order-1 order-sm-2">
                <img src="/static/web/file/images/about-4.jpg auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100"
                    alt="">
            </div>

            <div class="col-md-6 p-0 text-center">
                <img src="/static/web/file/images/about-4.jpg" auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100"
                    alt="">
            </div>
            <div class="col-md-6 p-4 p-sm-5">
                <h1 class=" mb-4" style="font-weight: 200;">SSC <span style="color: #9B5DE5;">TOURISM</span></h1>
                <p class="text-secondary" style="line-height: 2; font-size: 14px; ">SSC Tourism is a service under the
                    SAMATWA SERVICE CENTRE (SSC) initiative, aimed at promoting travel and tourism across India. It
                    enables citizens, especially in rural and semi-urban areas, to access affordable travelservices,</p>

            </div>

        </div>
    </div>

    <h4 class="py-3"></h4>



    {% endblock %}